{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="forntEnd-Developer" content="Mamunur Rashid">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'wheelspin/assets/images/favicon.png' %}" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'wheelspin/assets/css/bootstrap.min.css' %}">
    <!-- Plugin css -->
    <link rel="stylesheet" href="{% static 'wheelspin/assets/css/plugin.css' %}">

    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'wheelspin/assets/css/style.css' %}">
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'wheelspin/assets/css/responsive.css' %}">
    {% block headlinks %}{% endblock %}
</head>

<body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="loader loader-1">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
        </div>
    </div>
    <!-- preloader area end -->

    {% include 'wheelspin/header.html' %}

    {% block body %}{% endblock %}

    {% include 'wheelspin/footer.html' %}

    <!-- Back to Top Start -->
    <div class="bottomtotop">
        <i class="fas fa-chevron-right"></i>
    </div>
    <!-- Back to Top End -->

    {% include 'wheelspin/login.html' %}

    {% include 'wheelspin/signup.html' %}

    <!-- jquery -->
    <script src="{% static 'wheelspin/assets/js/jquery.js' %}"></script>
    <!-- popper -->
    <script src="{% static 'wheelspin/assets/js/popper.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'wheelspin/assets/js/bootstrap.min.js' %}"></script>
    <!-- plugin js-->
    <script src="{% static 'wheelspin/assets/js/plugin.js' %}"></script>

    <!-- MpusemoverParallax JS-->
    <script src="{% static 'wheelspin/assets/js/TweenMax.js' %}"></script>
    <script src="{% static 'wheelspin/assets/js/mousemoveparallax.js' %}"></script>
    <!-- main -->
    <script src="{% static 'wheelspin/assets/js/main.js' %}"></script>
    {% block footerlinks %}{% endblock %}
</body>

</html>