{% extends 'wheelspin/base.html' %}
{% load static %}
{% block title %}Crypto Wheel Spin{% endblock %}
{% block body %}
    <!-- Hero Area Start -->
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 d-flex align-self-center">
                    <div class="left-content">
                        <div class="content">
                            <h5 class="subtitle">
                                New Crypto Game
                            </h5>
                            <h1 class="title">
                                PLay To WIN
                            </h1>
                            <p class="text">
                                Create Account, Deposit, Play and Win with high Rewards!
                            </p>
                            <div class="links">
                                <a href="/slots/" class="mybtn1 link1">Get Started Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img2 d-block d-md-none">
                        <img src="{% static 'wheelspin/assets/images/heroarea.png' %}" alt="">
                    </div>
                    <div class="hero-img d-none d-md-block">
                        <img class="img-fluid full-image" src="{% static 'wheelspin/assets/images/heroarea.png' %}" alt="">
                        <img class="shape phone" src="{% static 'wheelspin/assets/images/h-shapes/phone.png' %}" alt="">
                        <img class="shape man" src="{% static 'wheelspin/assets/images/h-shapes/man222.png' %}" alt="">
                        <img class="shape ripple" src="{% static 'wheelspin/assets/images/h-shapes/ripple.png' %}" alt="">
                        <img class="shape ripple2" src="{% static 'wheelspin/assets/images/h-shapes/ripple1.png' %}" alt="">
                        <img class="shape bitcoin1" src="{% static 'wheelspin/assets/images/h-shapes/bitcoin1.png' %}" alt="">
                        <img class="shape bitcoin2" src="{% static 'wheelspin/assets/images/h-shapes/bitcoin2.png' %}" alt="">
                        <img class="shape shape-icon" src="{% static 'wheelspin/assets/images/h-shapes/shape.png' %}" alt="">
                        <img class="shape award-bg" src="{% static 'wheelspin/assets/images/h-shapes/award/bg.png' %}" alt="">
                        <img class="shape award" src="{% static 'wheelspin/assets/images/h-shapes/award/award.png' %}" alt="">
                        <img class="shape gift-bg" src="{% static 'wheelspin/assets/images/h-shapes/giftbox/bg.png' %}" alt="">
                        <img class="shape gift" src="{% static 'wheelspin/assets/images/h-shapes/giftbox/gift.png' %}" alt="">
                        <img class="shape shield-bg" src="{% static 'wheelspin/assets/images/h-shapes/shield/bg.png' %}" alt="">
                        <img class="shape shield" src="{% static 'wheelspin/assets/images/h-shapes/shield/shield.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->

    <!-- Featured Game Area Start -->
    <section class="featured-game">
        <!-- Features Area Start -->
        <div class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="feature-box">
                            <div class="feature-box-inner">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-feature">
                                            <div class="icon one">
                                                <img src="{% static 'wheelspin/assets/images/feature/icon1.png' %}" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">
                                                    About Us
                                                </h4>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-feature">
                                            <div class="icon two">
                                                <img src="{% static 'wheelspin/assets/images/feature/icon2.png' %}" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">
                                                    FAQs
                                                </h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-feature">
                                            <div class="icon three">
                                                <img src="{% static 'wheelspin/assets/images/feature/icon3.png' %}" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">
                                                    Contact
                                                </h4>
                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Area End -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section-heading">
                        <h5 class="subtitle">
                            Try to check out our
                        </h5>
                        <h2 class="title">
                            featured slots
                        </h2>
                        <p class="text">
                            Check out our latest featured game! To meet today's challenges & earn cryptocurrency.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="game-slider">
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon1.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon3.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-game">
                                <img src="{% static 'wheelspin/assets/images/game/icon2.png' %}" alt="">
                                <a href="#" class="mybtn2">PLay NoW !</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Game Area	End -->

    <!-- Latest Activities Area Start -->
    <section class="activities">
        <img class="shape shape1" src="{% static 'wheelspin/assets/images/people/shape1.png' %}" alt="">
        <img class="shape shape2" src="{% static 'wheelspin/assets/images/people/shape2.png' %}" alt="">
        <img class="shape shape3" src="{% static 'wheelspin/assets/images/people/shape3.png' %}" alt="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section-heading">
                        <h5 class="subtitle">
                            Most Recent Winners
                        </h5>
                        <h2 class="title">
                            Latest 10
                        </h2>
                        <p class="text">
                            The World's Most Popular Crypto Wheel Spin Game
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                   
                            <div class="responsive-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">USER</th>
                                            <th scope="col">Slot</th>
                                            <th scope="col">Capacity</th>
                                            <th scope="col">Result</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for result in results %}
                                        <tr>
                                            <td>
                                                <img src="{% static 'wheelspin/assets/images/people/p1.png' %}" alt=""> {{result.username}}
                                            </td>
                                            <td>
                                            <img src="{% static 'wheelspin/assets/images/icon1.png' %}" alt=""> {{result.slot}}
                                            </td>
                                            <td>
                                                 {{result.capcity}}
                                            </td>
                                            <td>{{result.result}}</td>
                                            <td>
                                                <img src="{% static 'wheelspin/assets/images/icon1.png' %}" alt=""> {{result.charge}}
                                            </td>
                                            <td>
                                                {{result.time}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    
            </div>
        </div>
        <!-- Fun fact Area Start -->
        <div class="funfact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-fun">
                            <img src="{% static 'wheelspin/assets/images/funfact/icon1.png' %}" alt="">
                            <div class="count-area">
                                <div class="count">23K</div>
                            </div>
                            <p>
                                Players
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-fun">
                            <img src="{% static 'wheelspin/assets/images/funfact/icon2.png' %}" alt="">
                            <div class="count-area">
                                <div class="count">99+</div>
                            </div>
                            <p>
                                Games
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-fun">
                            <img src="{% static 'wheelspin/assets/images/funfact/icon3.png' %}" alt="">
                            <div class="count-area">
                                <div class="count">136k+</div>
                            </div>
                            <p>
                                Wins
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fun fact Area End -->
    </section>
    <!-- Latest Activities Area End -->


    <!-- Get Start Area Start -->
    <section class="get-start">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 d-flex align-self-center">
                    <div class="left-area">
                        <div class="section-heading">
                            <h5 class="subtitle">
                                every day lots of wins
                            </h5>
                            <h2 class="title ">
                                be one of them
                            </h2>
                            <p class="text">
                                Get started in less than 5 min. Gain early access to Crypto Wheel Spin, Deposit with crypto and experience crypto-game like never before.
                            </p>
                            <a href="#" class="mybtn1">Play  Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="right-image">
                        <img src="{% static 'wheelspin/assets/images/get-start.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Get Start Area End -->

    

{% endblock %}