{% extends 'wheelspin/base.html' %}
{% load static %}
{% block title %}Crypto Wheel Spin{% endblock %}
{% block body %}
    <!-- Hero Area Start -->
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 d-flex align-self-center">
                    <div class="left-content">
                        <div class="content">
                            <h5 class="subtitle">
                                Profile
                            </h5>
                            <h1 class="title">
                                {{request.user.username}}
                            </h1>
                            <p class="text">
                                Play, Invest,Exchange and Join the Contest with high rewards at Dooplo!
                            </p>
                            <div class="links">
                                <a href="#" class="mybtn1 link1">Get Started Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img2 d-block d-md-none">
                        <img src="{% static 'wheelspin/assets/images/heroarea.png' %}" alt="">
                    </div>
                    <div class="hero-img d-none d-md-block">
                        <img class="img-fluid full-image" src="{% static 'wheelspin/assets/images/heroarea.png' %}" alt="">
                        <img class="shape phone" src="{% static 'wheelspin/assets/images/h-shapes/phone.png' %}" alt="">
                        <img class="shape man" src="{% static 'wheelspin/assets/images/h-shapes/man222.png' %}" alt="">
                        <img class="shape ripple" src="{% static 'wheelspin/assets/images/h-shapes/ripple.png' %}" alt="">
                        <img class="shape ripple2" src="{% static 'wheelspin/assets/images/h-shapes/ripple1.png' %}" alt="">
                        <img class="shape bitcoin1" src="{% static 'wheelspin/assets/images/h-shapes/bitcoin1.png' %}" alt="">
                        <img class="shape bitcoin2" src="{% static 'wheelspin/assets/images/h-shapes/bitcoin2.png' %}" alt="">
                        <img class="shape shape-icon" src="{% static 'wheelspin/assets/images/h-shapes/shape.png' %}" alt="">
                        <img class="shape award-bg" src="{% static 'wheelspin/assets/images/h-shapes/award/bg.png' %}" alt="">
                        <img class="shape award" src="{% static 'wheelspin/assets/images/h-shapes/award/award.png' %}" alt="">
                        <img class="shape gift-bg" src="{% static 'wheelspin/assets/images/h-shapes/giftbox/bg.png' %}" alt="">
                        <img class="shape gift" src="{% static 'wheelspin/assets/images/h-shapes/giftbox/gift.png' %}" alt="">
                        <img class="shape shield-bg" src="{% static 'wheelspin/assets/images/h-shapes/shield/bg.png' %}" alt="">
                        <img class="shape shield" src="{% static 'wheelspin/assets/images/h-shapes/shield/shield.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->



    <!-- Latest Activities Area Start -->
    <section class="activities">
        <img class="shape shape1" src="{% static 'wheelspin/assets/images/people/shape1.png' %}" alt="">
        <img class="shape shape2" src="{% static 'wheelspin/assets/images/people/shape2.png' %}" alt="">
        <img class="shape shape3" src="{% static 'wheelspin/assets/images/people/shape3.png' %}" alt="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section-heading">
                        <h5 class="subtitle">
                            The Smarter Way
                        </h5>
                        <h2 class="title">
                            Lend and Borrow
                        </h2>
                        <p class="text">
                            The World's First Crypto Lending Marketplace and Affordable and competitive interest rates
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                    

                            <div class="responsive-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Time</th>
                                            <th scope="col">Transaction Type</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Charge</th>
                                            <th scope="col">Final Amount</th>
                                            <th scope="col">Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="{% static 'wheelspin/assets/images/people/p1.png' %}" alt=""> Tom Bass
                                            </td>
                                            <td>
                                                b799b8724b
                                            </td>
                                            <td>
                                                <img src="{% static 'wheelspin/assets/images/icon1.png' %}" alt=""> 0.00000051
                                            </td>
                                            <td>70%</td>
                                            <td>Dice</td>
                                            <td>
                                                <img src="{% static 'wheelspin/assets/images/icon1.png' %}" alt=""> 0.00000051
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan=3 style="text-align:center;">
                                                <a href="/gameresults" class="mybtn1">Previous</a>
                                            </td>
                                            <td colspan=3 style="text-align:center;">
                                                <a href="/gameresults" class="mybtn1">Next</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Fun fact Area Start -->
        <div class="funfact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-fun">
                            <img src="{% static 'wheelspin/assets/images/funfact/icon1.png' %}" alt="">
                            <div class="count-area">
                                <div class="count">93K</div>
                            </div>
                            <p>
                                Players
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-fun">
                            <img src="{% static 'wheelspin/assets/images/funfact/icon2.png' %}" alt="">
                            <div class="count-area">
                                <div class="count">99+</div>
                            </div>
                            <p>
                                Games
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-fun">
                            <img src="{% static 'wheelspin/assets/images/funfact/icon3.png' %}" alt="">
                            <div class="count-area">
                                <div class="count">70+</div>
                            </div>
                            <p>
                                Winners
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fun fact Area End -->
    </section>
    <!-- Latest Activities Area End -->


    <!-- Get Start Area Start -->
    <section class="get-start">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 d-flex align-self-center">
                    <div class="left-area">
                        <div class="section-heading">
                            <h5 class="subtitle">
                                every day lots of wins
                            </h5>
                            <h2 class="title ">
                                be one of them
                            </h2>
                            <p class="text">
                                Get started in less than 5 min - no credit card required.Gain early access to Dooplo and experience crypto like never before.
                            </p>
                            <a href="#" class="mybtn1">Play  Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="right-image">
                        <img src="{% static 'wheelspin/assets/images/get-start.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Get Start Area End -->

    <!-- Recent Winners Area Start -->
    <section class="recent-winners">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section-heading">
                        <h5 class="subtitle">
                            Try to Check out our
                        </h5>
                        <h2 class="title">
                            Recent Winners
                        </h2>
                        <p class="text">
                            We update our site regularly; more and more winners are added every day! To locate the most recent winner's information
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-winer">
                        <div class="top-area">
                            <div class="left">
                                <h4 class="name">
                                    Leroy Roy
                                </h4>
                                <p class="date">
                                    01.08.2019
                                </p>
                            </div>
                            <div class="right">
                                <p class="id">#5747e75482</p>
                            </div>
                        </div>
                        <div class="bottom-area">
                            <div class="left">
                                0.099 ETH
                            </div>
                            <div class="right">
                                <img src="{% static 'wheelspin/assets/images/icon2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-winer">
                        <div class="top-area">
                            <div class="left">
                                <h4 class="name">
                                    Jeff Mack
                                </h4>
                                <p class="date">
                                    01.08.2019
                                </p>
                            </div>
                            <div class="right">
                                <p class="id">#5747e75482</p>
                            </div>
                        </div>
                        <div class="bottom-area">
                            <div class="left">
                                0.099 ETH
                            </div>
                            <div class="right">
                                <img src="{% static 'wheelspin/assets/images/icon2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-winer">
                        <div class="top-area">
                            <div class="left">
                                <h4 class="name">
                                    Neal Morris
                                </h4>
                                <p class="date">
                                    01.08.2019
                                </p>
                            </div>
                            <div class="right">
                                <p class="id">#5747e75482</p>
                            </div>
                        </div>
                        <div class="bottom-area">
                            <div class="left">
                                0.099 ETH
                            </div>
                            <div class="right">
                                <img src="{% static 'wheelspin/assets/images/icon2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-xl-center">
                    <a class="mybtn2" href="#">View All </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Recent Winners Area End -->

{% endblock %}