{% extends 'wheelspin/base.html' %}
{% load static %}
{% block title %}Crypto Wheel Spin{% endblock %}
{% block headlinks %}
    <link rel="stylesheet" href="{% static 'wheelspin/game/css/main.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'wheelspin/game/js/Winwheel.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
{% endblock %}
{% block body %}

    {{ room_name|json_script:"room-name" }}
    
    <section class="four-zero-four" style="display: flex;justify-content: center;">
    <div style="margin-top:30vh">
            
            <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <div class="power_controls">
                        <br />
                        <br />
                       <div style="display: flex;justify-content:center ">
                            <h1 id="progressBar"></h1>
                       </div>
                        <!-- <img src="https://img.icons8.com/cute-clipart/64/000000/start.png" id="spin_button"  alt="Spin" onClick="startSpin()" /> -->
                        <img src id="spin_button" hidden alt="Spin" onClick="startSpin()" />
                        <br /><br />
                        &nbsp;&nbsp;
                    </div>
                </td>
                <td width="438" height="582" class="the_wheel" align="center" valign="center">
                    <!-- <canvas id="canvas" width="434" height="434" onclick="startSpin()"> -->
                    <canvas id="canvas" width="434" height="434">
                        <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                    </canvas>
                </td>
            </tr>
        </table>
    </div>
    </section>
    {{ userlist|json_script:"userlist" }}
    {{ deg|json_script:"deg" }}

{% block footerlinks %}
    <script type="text/javascript" src="{% static 'wheelspin/game/js/main.js' %}"></script>
    <script>
        (function(){
            var timeleft = 10;
            var downloadTimer = setInterval(function(){
            if(timeleft <= 0){
                clearInterval(downloadTimer);
            }
            document.getElementById("progressBar").innerHTML = 10 - timeleft;
            timeleft -= 1;
            }, 1000);
            
            setTimeout(
            function() {
                document.getElementById("progressBar").remove();
                startSpin();
            }, 11000);
            console.log("started")
            setTimeout(
            function() {
                location.href = "/gameresults";
            }, 38000);
        })();
    </script>
{% endblock %}

{% endblock %}